[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
[submodule "spacemacs.d"]
	path = spacemacs.d
	url = https://github.com/fuzzycode/dotspacemacs.git
